


.about{
    .about-component{
        text-align: center;

        background-color:white;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 0 7px rgba(0,0,0,.15);
        .about-page-profile-img{
            padding:7px;
            box-shadow:0 0 7px rgba(0,0,0,.15);
            border-radius:5px;
            width:40%;
            height:auto;
            margin:35px 0;
        }
        .info-card{
            padding: 35px 40px 35px 0px;
            margin: 0 auto;
            font-size:16px;
            text-align:left;
        }
        
    }
}

