.btn{
	border:1px solid @deepskyblue !important;
	background: none;
	border-radius: 20px;
	width: 150px;
	height: 40px;
	color:@deepskyblue;
	font-weight: 500;
	&:hover{
		background-color: @deepskyblue;
		color:white;
		cursor: pointer;

	}
	&:focus{
		outline: none;
	}
}

.pallete-col-2{
	width: 50%;
	float: left;
}
.pallete-col-8-100{
    width: 8%;
    float:left;
}
.pallete-col-92-100{
    width: 92%;
    float: left;
}
.page-home{
    //.content-mixin;
    margin-bottom: 40px;
            
        // .blog-info{
            // .content-mixin;

            // margin-top:20px;
            // border-bottom: 1px solid @paletteLineLighterGrey;
            // padding: 0;
            // margin-bottom: 20px;
            // .info-img{
                // padding: 14px;
            // img{
                // max-width: 50px;
                // height: auto;
                // box-shadow: 0 0 7px rgba(0,0,0,0.15);
                // border-radius:5px;
            // }
        // }


        .home-info{
            padding:12px 0 0 0;
            .title{

                font-size: 20px;
                font-weight:500;
            }
            .description{
                width: 500px;
                // margin:15px auto 20px auto;
                font-size: 16px;
            }
        }
	// }
	.home-component{
		// margin-bottom: 40px;
        // margin-left: 40px;
        // margin-right: 40px;
        margin-top:40px;
        position: relative;
        padding-left:25px;
        padding-top:25px;
        .component-identifier{
            position: absolute;
            top:0;
            left:0;
            z-index: 999;
            width: 50px;
            height:50px;
            border-radius: 50%;
            background-color: @deepskyblue;
            color:white;
            text-align: center;
            font-weight:300;
            font-size:17px;
            line-height:2em;
            span{

                font-weight:500;
                display:block;
                padding:0;
                margin-top:-16px;

            }

        }

		.component-title{
			.title-mixin;
            text-align: center;
		}
		.content{
			// padding: 70px;
            .content-mixin;
            padding:12px;
            
		}

    	.inner{

    		padding: 20px 0 70px 0;
    		.sticky-note{
    			text-align: center;
    			padding:20px 0 0 0;
    			font-size: 80px;
    			color:@paletteLighterGrey;
    		}
    		.title{
    			color:@paletteLighterGrey;
    			text-align: center;
    		}
    	}
	}
    .home-component{
        li{
            padding:5px 0;
            .comment-author{
                border:1px solid @deepskyblue;
                color: @deepskyblue;
                padding: 0 15px;
                border-radius: 5px;
                margin-right: 10px;
            }
            .home-comments{
                padding-left:50px;
                font-size:15px;
            }

        }
   }

    .home-component{
        .content{
        padding-bottom: 20px;
            .tweets{
                
                p{
                    font-size:15px;
                }
                .tweet-time{
                    float:right;
                    font-size:14px;
                    color:@paletteLineDarkerGrey;
                }
            }
        }
        
    }
    

	.footer-info{
		text-align: center;
		padding: 40px 0 80px 0;

		font-size: 30px;
		.btn{
			width: 40px;
			i{
				display: block;
				padding-bottom: 5px;
			}
		}
	}
}
